<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <!-- <link rel="stylesheet" href="./res/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="wrapper">
        <img class="top-image" src="res/img/top.jpg"></img>
        <img class="abs-image" src="res/img/bk.png"></img>
        <div class="bot-text">
            <div class="title">
                <div class="title-n">
                    <div class="title-a"></div>
                </div>
                <span style="margin-left: 22px;">{{data.nickname}}自检</span>
            </div>
            <div class="network">
                <div class="network-item">BaiDu<span class="network-status"
                        style="background-color: {{data.baidu}}; border: 1px solid {{data.baidu}}"></span></div>
                <div class="network-item">Google<span class="network-status"
                        style="background-color: {{data.google}}; border: 1px solid {{data.google}}"></span></div>
            </div>
        </div>
        <div class="main">
            <div class="data-status">
                <div class="data-status-item">
                    <div class="process">
                        <div class="process-bar" style="width: {{data.cpu_process}}%;"></div>
                    </div>
                    <div class="data-status-item-text">
                        <div>CPU</div>
                        <!-- <div style="font-size: 13px;">0.8% - 3.5Ghz [14core]</div> -->
                        <div style="font-size: 13px;">{{data.cpu_info}}</div>
                    </div>
                </div>
                <div class="data-status-item">
                    <div class="process">
                        <div class="process-bar" style="width: {{data.ram_process}}%;"></div>
                    </div>
                    <div class="data-status-item-text">
                        <div>RAM</div>
                        <div>{{data.ram_info}}</div>
                    </div>
                </div>
                <div class="data-status-item">
                    <div class="process">
                        <div class="process-bar" style="width: {{data.swap_process}}%;"></div>
                    </div>
                    <div class="data-status-item-text">
                        <div>SWAP</div>
                        <div>{{data.swap_info}}</div>
                    </div>
                </div>
                <div class="data-status-item">
                    <div class="process">
                        <div class="process-bar" style="width: {{data.disk_process}}%;"></div>
                    </div>
                    <div class="data-status-item-text">
                        <div>DISK</div>
                        <div>{{data.disk_info}}</div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="status-text">
                <p class="status-text-title">CPU&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        style="font-size: 12px;line-height: 18.5px;">{{data.brand_raw}}</span></p>
                <p class="status-text-title">SYSTEM&nbsp;&nbsp;&nbsp;&nbsp;<span
                        style="font-size: 13px;line-height: 18.5px;">{{data.system}}</span></p>
                <p class="status-text-title">VERSION&nbsp;&nbsp;&nbsp;<span>{{data.version}}</span></p>
                <p class="status-text-title">PLUGINS&nbsp;&nbsp;&nbsp;<span>{{data.plugin_count}} loaded</span></p>
            </div>
        </div>
        <div class="tip">Create By Zhenxun</div>
    </div>
</body>
<script type="text/javascript" src="main.js">
</script>

</html>