aiocache==0.12.3 ; python_version >= "3.9" and python_version < "3.13"
aiofiles==23.2.1 ; python_version >= "3.9" and python_version < "3.13"
aiosqlite==0.17.0 ; python_version >= "3.9" and python_version < "3.13"
annotated-types==0.7.0 ; python_version >= "3.9" and python_version < "3.13"
anyio==4.8.0 ; python_version >= "3.9" and python_version < "3.13"
apscheduler==3.11.0 ; python_version >= "3.9" and python_version < "3.13"
arclet-alconna-tools==0.7.10 ; python_version >= "3.9" and python_version < "3.13"
arclet-alconna==1.8.35 ; python_version >= "3.9" and python_version < "3.13"
async-timeout==5.0.1 ; python_version >= "3.9" and python_version < "3.11.0"
asyncpg==0.30.0 ; python_version >= "3.9" and python_version < "3.13"
attrs==24.3.0 ; python_version >= "3.9" and python_version < "3.13"
cattrs==23.2.3 ; python_version >= "3.9" and python_version < "3.13"
certifi==2024.12.14 ; python_version >= "3.9" and python_version < "3.13"
cffi==1.17.1 ; python_version >= "3.9" and python_version < "3.13" and platform_python_implementation != "PyPy"
click==8.1.8 ; python_version >= "3.9" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.13" and sys_platform == "win32" or python_version >= "3.9" and python_version < "3.13" and platform_system == "Windows"
cryptography==43.0.3 ; python_version >= "3.9" and python_version < "3.13"
ecdsa==0.19.0 ; python_version >= "3.9" and python_version < "3.13"
exceptiongroup==1.2.2 ; python_version >= "3.9" and python_version < "3.13"
fastapi==0.115.6 ; python_version >= "3.9" and python_version < "3.13"
greenlet==3.1.1 ; python_version >= "3.9" and python_version < "3.13"
h11==0.14.0 ; python_version >= "3.9" and python_version < "3.13"
httptools==0.6.4 ; python_version >= "3.9" and python_version < "3.13"
idna==3.10 ; python_version >= "3.9" and python_version < "3.13"
imagehash==4.3.1 ; python_version >= "3.9" and python_version < "3.13"
importlib-metadata==8.5.0 ; python_version >= "3.9" and python_version < "3.13"
iso8601==1.1.0 ; python_version >= "3.9" and python_version < "3.13"
jinja2==3.1.5 ; python_version >= "3.9" and python_version < "3.13"
loguru==0.7.3 ; python_version >= "3.9" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_version < "3.13"
markdown==3.7 ; python_version >= "3.9" and python_version < "3.13"
markupsafe==3.0.2 ; python_version >= "3.9" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.9" and python_version < "3.13"
msgpack==1.1.0 ; python_version >= "3.9" and python_version < "3.13"
multidict==6.1.0 ; python_version >= "3.9" and python_version < "3.13"
nepattern==0.7.7 ; python_version >= "3.9" and python_version < "3.13"
nonebot-adapter-onebot==2.4.6 ; python_version >= "3.9" and python_version < "3.13"
nonebot-plugin-alconna==0.54.2 ; python_version >= "3.9" and python_version < "3.13"
nonebot-plugin-apscheduler==0.5.0 ; python_version >= "3.9" and python_version < "3.13"
nonebot-plugin-htmlrender==0.6.0 ; python_version >= "3.9" and python_version < "3.13"
nonebot-plugin-session==0.2.3 ; python_version >= "3.9" and python_version < "3.13"
nonebot-plugin-uninfo==0.6.8 ; python_version >= "3.9" and python_version < "3.13"
nonebot-plugin-waiter==0.8.0 ; python_version >= "3.9" and python_version < "3.13"
nonebot2==2.4.1 ; python_version >= "3.9" and python_version < "3.13"
numpy==2.0.2 ; python_version >= "3.9" and python_version < "3.13"
pillow==10.4.0 ; python_version >= "3.9" and python_version < "3.13"
playwright==1.49.1 ; python_version >= "3.9" and python_version < "3.13"
propcache==0.2.1 ; python_version >= "3.9" and python_version < "3.13"
psutil==5.9.8 ; python_version >= "3.9" and python_version < "3.13"
py-cpuinfo==9.0.0 ; python_version >= "3.9" and python_version < "3.13"
pyasn1==0.6.1 ; python_version >= "3.9" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.9" and python_version < "3.13" and platform_python_implementation != "PyPy"
pydantic-core==2.27.2 ; python_version >= "3.9" and python_version < "3.13"
pydantic==2.10.4 ; python_version >= "3.9" and python_version < "3.13"
pyee==12.0.0 ; python_version >= "3.9" and python_version < "3.13"
pygments==2.19.1 ; python_version >= "3.9" and python_version < "3.13"
pygtrie==2.5.0 ; python_version >= "3.9" and python_version < "3.13"
pymdown-extensions==10.14 ; python_version >= "3.9" and python_version < "3.13"
pypika-tortoise==0.1.6 ; python_version >= "3.9" and python_version < "3.13"
pypinyin==0.51.0 ; python_version >= "3.9" and python_version < "3.13"
python-dotenv==1.0.1 ; python_version >= "3.9" and python_version < "3.13"
python-jose==3.3.0 ; python_version >= "3.9" and python_version < "3.13"
python-markdown-math==0.8 ; python_version >= "3.9" and python_version < "3.13"
python-multipart==0.0.20 ; python_version >= "3.9" and python_version < "3.13"
pytz==2024.2 ; python_version >= "3.9" and python_version < "3.13"
pywavelets==1.6.0 ; python_version >= "3.9" and python_version < "3.13"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "3.13"
retrying==1.3.4 ; python_version >= "3.9" and python_version < "3.13"
rich==13.9.4 ; python_version >= "3.9" and python_version < "3.13"
rsa==4.9 ; python_version >= "3.9" and python_version < "3.13"
ruamel-yaml-clib==0.2.12 ; python_version >= "3.9" and python_version < "3.13" and platform_python_implementation == "CPython"
ruamel-yaml==0.18.10 ; python_version >= "3.9" and python_version < "3.13"
scipy==1.13.1 ; python_version >= "3.9" and python_version < "3.13"
sentry-sdk==2.20.0 ; python_version >= "3.9" and python_version < "3.13"
six==1.17.0 ; python_version >= "3.9" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.9" and python_version < "3.13"
starlette==0.41.3 ; python_version >= "3.9" and python_version < "3.13"
strenum==0.4.15 ; python_version >= "3.9" and python_version < "3.13"
tarina==0.6.8 ; python_version >= "3.9" and python_version < "3.13"
tomli==2.2.1 ; python_version >= "3.9" and python_version < "3.11"
tortoise-orm==0.20.1 ; python_version >= "3.9" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "3.13"
tzdata==2024.2 ; python_version >= "3.9" and python_version < "3.13" and platform_system == "Windows"
tzlocal==5.2 ; python_version >= "3.9" and python_version < "3.13"
ujson==5.10.0 ; python_version >= "3.9" and python_version < "3.13"
urllib3==2.3.0 ; python_version >= "3.9" and python_version < "3.13"
uvicorn==0.34.0 ; python_version >= "3.9" and python_version < "3.13"
uvloop==0.21.0 ; python_version >= "3.9" and python_version < "3.13" and (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy"
watchfiles==0.24.0 ; python_version >= "3.9" and python_version < "3.13"
websockets==14.1 ; python_version >= "3.9" and python_version < "3.13"
win32-setctime==1.2.0 ; python_version >= "3.9" and python_version < "3.13" and sys_platform == "win32"
yarl==1.18.3 ; python_version >= "3.9" and python_version < "3.13"
zipp==3.21.0 ; python_version >= "3.9" and python_version < "3.13"
