

@font-face {
    font-family: fzrzFont;
    /* 导入的字体文件 */
    src: url("../../font/fzrzExtraBold.ttf");
}

@font-face {
    font-family: syhtFont;
    /* 导入的字体文件 */
    src: url("../../font/syht.otf");
}

@font-face {
    font-family: systFont;
    /* 导入的字体文件 */
    src: url("../../font/syst.otf");
}



body {
    position: absolute;
    left: -8px;
    top: -8px;
}

.wrapper{
    /* height: 1321px; */
    width: 637px;
    background-image: url('res/img/bk.jpg');
    background-size: cover;
    position: relative;
    font-family: 'cr105Font';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.zx-img {
    position: absolute;
    width: 222px;
    bottom: 0;
    right: 3px;
    z-index: 0;
}

.avatar {
    height: 73px;
    width: 73px;
    border-radius: 50%;
    position: absolute;
    top: 153px;
    left: 40px;
    border: #F3868C 1px solid;
}

.avatar-img {
    height: 73px;
    width: 73px;
    border-radius: 50%;
}

.main {
    background-image: url('res/img/main.png');
    background-size: 100% 100%;
    /* background-size: cover; */
    height: auto;
    width: 595px;
    position: relative;
}

.head-text {
    font-size: 53px;
    font-family: 'fzrzFont';
    margin-left: 40px;
    /* color: #F67186; */
    background: linear-gradient(to right, #F67186, #F7889C);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.help-text {
    font-size: 19px;
    font-family: 'systFont';
    margin-left: 40px;
    /* color: #F67186; */
    background: linear-gradient(to right, #F67186, #F7889C);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: absolute;
    top: 118px;
    left: -5px;
}

.menu-list {
    width: 593px;
    height: calc(100% - 230px);
    /* background-color: blanchedalmond; */
    /* margin-left: 35px; */
    margin-top: 35px;
    /* float: left; */
    display: flex; /* 使用flex布局 */
    flex-wrap: wrap;
}


.main-menu {
    /* width: 100%; */
    z-index: 1;
}

.title {
    height: 45px;
    width: 225px;
    background-image: url('res/img/title.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background: linear-gradient(to right, #F67186, #F7889C); */
    font-family: 'fzrzFont';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    border-radius: 16px;
    letter-spacing:4px;
    margin: 0 auto;
}

.plugin-list {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    font-family: 'syhtFont';
    font-size: 25px;
    z-index: 1;
}