
</html>
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <!-- <link rel="stylesheet" href="./res/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="wrapper">
        <div class="main">
            <div style="margin-top: 30px;"></div>
            <div class="head-text">真寻BOT的使用方法</div>
            <div class="help-text">可以通过'帮助[功能名称或功能ID]'来获取对应功能的使用方法</div>
            <div class="avatar">
                <img class="avatar-img" src="{{data.ava}}" alt="">
            </div>
            <div class="menu-list">
                {% for plugin in data['plugin_list'] %}
                <div class='main-menu' style="width: {{ plugin.width }}%;">
                    <div class="title">{{plugin.name}}</div>
                    <div class=plugin-list>
                        {% for item_list in plugin['items'] %}
                        <ul style="margin-left: {{ item_list[0] }}px; margin-top: 23px; width: {{item_list[1]}}%;">
                            {% for item in item_list[2] %}
                                <li>{{item.plugin_name}}</li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <img src="./res/img/3.png" class="zx-img" />
            </div>
            <!-- <div class="menu-list">
                <div class='main-menu' style="width: 100%;">
                    <div class="title">帮助</div>
                    <div class=plugin-list style="width: 100%;">
                        <ul style="margin-left: 30px;margin-top: 10px; width: 50%;">
                            <li>47-签到</li>
                            <li>43-鸡汤</li>
                            <li>81鲁迅说</li>
                            <li>69-磁力搜索</li>
                            <li>36-roll</li>
                            <li>77-钉宫骂我</li>
                            <li>68-网易云热评</li>
                            <li>44-pid搜索</li>
                            <li>56-我有一个朋友</li>
                            <li>42-敏感词文本监听</li>
                            <li>63-能不能好好说话</li>
                        </ul>
                        <ul style="margin-left: 0px;margin-top: 10px; width: 50%;">
                            <li>62-AI</li>
                            <li>5-古诗</li>
                            <li>10-词云</li>
                            <li>45-词库问答</li>
                            <li>12-微博热搜</li>
                            <li>45-金币红包</li>
                            <li>64-PIX添加</li>
                            <li>23-coser</li>
                            <li>42-B站视频解析</li>
                            <li>43-查看pix图库</li>
                            <li>55-一言二次元语录</li>
                            <li>55-epic免费游戏</li>
                        </ul>
                    </div>
                </div>
                <div class='main-menu' style="width: 50%;">
                    <div class="title">抽卡相关</div>
                    <div class=plugin-list>
                        <ul style="margin-left: 30px;margin-top: 10px; width: 50%;">
                            <li>111-游戏抽卡</li>
                            <li>44-CSGO开箱</li>
                        </ul>
                    </div>
                </div>
                <div class='main-menu' style="width: 50%;">
                    <div class="title">帮助2</div>
                    <div class=plugin-list>
                        <ul style="margin-left: 15px;margin-top: 10px; width: 50%;">
                            <li>53-识图</li>
                            <li>55-识番</li>
                            <li>13-翻译</li>
                            <li>55-搜番</li>
                            <li>22-b封面</li>
                            <li>41-BUFF皮肤查询</li>
                        </ul>
                    </div>
                </div>
                <div class='main-menu'>
                    <div class="title">帮助</div>
                    <div class=plugin-list>
                        <ul>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                        </ul>
                    </div>
                </div>
                <div class='main-menu'>
                    <div class="title">帮助</div>
                    <div class=plugin-list>
                        <ul>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                        </ul>
                    </div>
                </div>
                <div class='main-menu'>
                    <div class="title">帮助</div>
                    <div class=plugin-list>
                        <ul>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                        </ul>
                    </div>
                </div>
                <div class='main-menu'>
                    <div class="title">帮助</div>
                    <div class=plugin-list>
                        <ul>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                        </ul>
                    </div>
                </div>
                <div class='main-menu'>
                    <div class="title">帮助</div>
                    <div class=plugin-list>
                        <ul>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                        </ul>
                    </div>
                </div>
                <div class='main-menu'>
                    <div class="title">帮助</div>
                    <div class=plugin-list>
                        <ul>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                            <li>11111</li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <img src="./res/img/3.png" class="zx-img" />
        </div>
    </div>
</body>
<script type="text/javascript" src="main.js">
</script>
</html>