@font-face {
    font-family: cr105Font;
    /* 导入的字体文件 */
    src: url("./res/font/ChillReunion_105S.otf");
}

@font-face {
    font-family: cr95Font;
    /* 导入的字体文件 */
    src: url("./res/font/ChillReunion_95.otf");
}

@font-face {
    font-family: cr65sFont;
    /* 导入的字体文件 */
    src: url("./res/font/ChillReunion_65S.otf");
}

@font-face {
    font-family: shFont;
    /* 导入的字体文件 */
    src: url("./res/font/SourceHanSansSC-Bold.otf");
}

@font-face {
    font-family: rxxxtFont;
    /* 导入的字体文件 */
    src: url("./res/font/rxxxkat.ttf");
}

@font-face {
    font-family: kcytFont;
    /* 导入的字体文件 */
    src: url("./res/font/jcyt.ttf");
}


body {
    position: absolute;
    left: -8px;
    top: -8px;
}

.wrapper{
    height: 926px;
    width: 465px;
    background-color: #FBE4E4;
    position: relative;
    font-family: 'cr105Font'
}

.avatar {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 38px;
    margin-left: 40px;
    box-shadow: 0px 0 10px 3px #D6A7A7;
}

.avatar-img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.top-head {
    width: 100%;
    height: 179px;
    color: #D37B8D;
}

.nickname {
    margin-top: 43px;
    margin-left: 30px;
    font-size: 47px;
    /* align-items: center;
    justify-content: center; */
    /* display: flex; */
    width: 275px;
    height: 67px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.uid {
    font-size: 21px;
    position: absolute;
    width: 255px;
    top: 84px;
    left: 30px;
    font-family: 'cr95Font'
}

.rl-img {
    height: 90px;
    width: 90px;
    position: absolute;
    top: 27px;
    left: 30px;
}

.zx-img {
    height:238px;
    width: 120px;
    left: 306px;
    position: absolute;
    z-index: 999;
}

.text-day {
    font-size: 25px;
    margin-left: 130px;
    margin-top: 46px;
    font-family: 'shFont';
}

.text-zx {
    font-family: 'cr65sFont';
    position: absolute;
    top: 72px;
    left: 130px;
    width: 200px;
}

.sign-content{
    width: 100%;
    height: 160px;
    position: relative;
}

.sign-top {
    background-color: #D47E8F;
    width:445px;
    height: 150px;
    position: absolute;
    left: 9px;
    color: #FBE4E4;
}

.sign-bottom {
    background-color: #953B50;
    width: 445px;
    height: 150px;
    position: absolute;
    top: 10px;
    left: 15px
}

.qian {
    position: absolute;
    left: 15px;
    top: 16px;
    height: 132px;
}

.sign-data{
    width: 100%;
    height: 207px;
    font-family: 'kcytFont';
    position: relative;
    color: #D47E8F;
}

.today-text {
    font-size: 50px;
    position: absolute;
    top: -40px;
    left: 130px;
}

.abs-text {
    position: absolute;
    font-size: 30px;
    z-index: 2;
    width: 465px;
}

.gift {
    text-align: center;
    /* float: left; */
    /* margin-top: 150px; */
}



.sign-text {
    font-size: 30px;
    position: absolute;
    top: 60px;
    left: 140px;
}

.sign-num {
    font-size: 30px;
    position: absolute;
    top: 60px;
}

.line {
    background-color: #D1778A;
    width: 435px;
    height: 3px;
    margin-left: 15px;
}
.bottom-foot{
    width: 100%;
    height: 376px;
    position: relative;
    font-family: 'rxxxtFont';
    color: #D47E8F;
}

.heart-list {
    position: absolute;
    top: 76px;
    left: 15px;
    width: 435px;
}

.heart-img {
    height: 30px;
    width: 30px;
}

.cur-text {
    font-size: 32px;
    left: 10px;
    top: -21px;
    position: absolute;
}

.bot-text {
    font-size: 30px;
    position: absolute;
    top: 85px;
    left: 15px;
    width: 435px;
}

.progress-border {
    position: absolute;
    top: 273px;
    left: 19px;
    width: 313px;
    height: 30px;
    border: #DF9DA8 1px solid;
}
.progress-bar {
    height: 30px;
    background-color: #D47E8F;
}

.weather-img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 37px;
    left: 371px;
}

.mbl-img {
    width: 132px;
    height: 164px;
    position: absolute;
    top: 145px;
    left: 333px;
}

.wd{
    position: absolute;
    font-size: 35px;
    top: 60px;
    left: 377px;
}

.date {
    position: absolute;
    font-size: 20px;
    top: 350px;
    left: 250px;
    font-family: 'rxxxtFont';
    width: 210px;
}