<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zhenxun_menu</title>
    <link rel="stylesheet" href="./res/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="zhenxun_menu.css">
</head>

<body cz-shortcut-listen="true">
    <div class="wrapper">
        <div id="sider" class="sider-left"></div>
        <main class="des des-left">
            <p>可以通过 ‘帮助[功能名称]’ 来获取对应功能的使用方法。&nbsp;&nbsp;&nbsp;或者使用 ‘详细帮助’ 来获取所有功能方法。</p>
            <p style="color:red;">注：浅色字功能被群管理员禁用，横线字代表功能正在维护&nbsp;&nbsp;&nbsp;&nbsp;真寻机器人免费开源，如果你在任何渠道付费购买了真寻机器人，请退款。
            </p>
        </main>
        <div class="content content-left">
            <!-- content-left或者content-right随机左右真寻背景图片 -->
            <div style="--themebordercolor:#ddc871;--themebgcolor:#ddc8710a;--pluginbgcolor:#ddc8715c;">
                <!-- 插件列表三种背景色"--themebordercolor","--themebgcolor","--pluginbgcolor" -->

                <!-- 插件种类顶部框 -->
                <div>
                    <span>
                        <!-- 图标  -->
                        <i class="fa fa-cog"></i>
                        <!-- 插件种类名 -->
                        功能
                    </span>
                    <!-- 真寻表情包图片 -->
                    <div class="logo">
                        <img src="/res/logo/7.png">
                    </div>
                </div>


                <!-- 插件单元 -->
                <span>
                    <!-- 插件名 -->
                    AI
                    <!-- 插件背景斜框 -->
                    <div class="splic"></div>
                </span>
                <span>
                    B站订阅
                    <div class="splic"></div></span>
                <span>
                    apex查询
                    <div class="splic"></div></span>
                <span>
                    coser
                    <div class="splic"></div></span>
                <span>
                    epic免费游戏
                    <div class="splic"></div></span>
                <span>
                    pid搜索
                    <div class="splic"></div></span>
                <span>
                    roll
                    <div class="splic"></div></span>
                <span>
                    一言二次元语录
                    <div class="splic"></div></span>
                <span>
                    个人信息权限查看
                    <div class="splic"></div></span>
                <span>
                    古诗
                    <div class="splic"></div></span>
                <span>
                    吃饭小助手
                    <div class="splic"></div></span>
                <span>
                    微博热搜
                    <div class="splic"></div></span>
                <span>
                    我有一个朋友
                    <div class="splic"></div></span>
                <span>
                    昵称系统
                    <div class="splic"></div></span>
                <span>
                    更新信息
                    <div class="splic"></div></span>
                <span>
                    构造分享信息
                    <div class="splic"></div></span>
                <span>
                    查看pix图库
                    <div class="splic"></div></span>
                <span>
                    查看群欢迎消息
                    <div class="splic"></div></span>
                <span>
                    磁力搜索
                    <div class="splic"></div></span>
                <span>
                    签到
                    <div class="splic"></div></span>
                <span>
                    网易云热评
                    <div class="splic"></div></span>
                <span>
                    能不能好好说话
                    <div class="splic"></div></span>
                <span>
                    金币红包
                    <div class="splic"></div></span>
                <span>
                    骂我
                    <div class="splic"></div></span>
                <span>
                    鲁迅说
                    <div class="splic"></div></span>
                <span>
                    鸡汤
                    <div class="splic"></div></span>
                <span>
                    黑白草图
                    <div class="splic"></div></span>
            </div>
            <div style="--themebordercolor:#2bae85;--themebgcolor:#2bae850a;--pluginbgcolor:#2bae855c;">
                <div>
                    <span>
                        <i class="fa fa-circle-o"></i>
                        原神相关
                    </span>
                    <div class="logo">
                        <img src="/res/logo/4.png">
                    </div>
                </div>
                <span class="ban">
                    原神今日素材
                </span>
                <span class="ban">
                    原神便笺查询
                </span>
                <span class="ban">
                    原神树脂提醒
                </span>
                <span>
                    原神玩家查询
                    <div class="splic"></div>
                </span>
                <span class="ban">原神绑定</span>
                <span>
                    原神老黄历
                    <div class="splic"></div></span>
                <span class="ban">
                    原神自动签到
                </span>
                <span class="ban">
                    原神资源查询
                </span>
            </div>
            <div style="--themebordercolor:#eea2a4;--themebgcolor:#eea2a40a;--pluginbgcolor:#eea2a45c;">
                <div>
                    <span>
                        <i class="fa fa-envelope-o"></i>
                        联系管理员
                    </span>
                    <div class="logo">
                        <img src="/res/logo/17.png">
                    </div>
                </div>
                <span>
                    联系管理员
                    <div class="splic"></div>
                </span>
            </div>
            <div style="--themebordercolor:#8b2671;--themebgcolor:#8b26710a;--pluginbgcolor:#8b26715c;">
                <div>
                    <span>
                        <i class="fa fa-cog"></i>
                        功能
                    </span>
                    <div class="logo">
                        <img src="/res/logo/16.png">
                    </div>
                </div>
                <span>
                    每日发癫
                    <div class="splic"></div>
                </span>
            </div>
            <div style="--themebordercolor:#f1908c;--themebgcolor:#f1908c0a;--pluginbgcolor:#f1908c5c;">
                <div>
                    <span>
                        <i class="fa fa-cubes"></i>
                        常规插件
                    </span>
                    <div class="logo">
                        <img src="/res/logo/23.png">
                    </div>
                </div>
                <span class="ban">
                    <del>消息防撤回</del>
                </span>
            </div>
            <div style="--themebordercolor:#5cb3cc;--themebgcolor:#5cb3cc0a;--pluginbgcolor:#5cb3cc5c;">
                <div>
                    <span>
                        <i class="fa fa-credit-card-alt"></i>
                        抽卡相关
                    </span>
                    <div class="logo">
                        <img src="/res/logo/3.png">
                    </div>
                </div>
                <span>
                    开箱
                    <div class="splic"></div>
                </span>
            </div>
            <div style="--themebordercolor:#862617;--themebgcolor:#8626170a;--pluginbgcolor:#8626175c;">
                <div>
                    <span>
                        <i class="fa fa-picture-o"></i>
                        来点好康的
                    </span>
                    <div class="logo">
                        <img src="/res/logo/15.png">
                    </div>
                </div>
                <span>
                    PIX
                    <div class="splic"></div>
                </span>
                <span>
                    P站排行/搜图
                    <div class="splic"></div>
                </span>
                <span>
                    本地图库
                    <div class="splic"></div>
                </span>
                <span>
                    色图
                    <div class="splic"></div>
                </span>
            </div>
            <div style="--themebordercolor:#d2b42c;--themebgcolor:#d2b42c0a;--pluginbgcolor:#d2b42c5c;">
                <div>
                    <span>
                        <i class="fa fa-bar-chart"></i>
                        数据统计
                    </span>
                    <div class="logo">
                        <img src="/res/logo/20.png">
                    </div>
                </div>
                <span>
                    功能调用统计可视化
                    <div class="splic"></div>
                </span>
                <span>
                    消息统计
                    <div class="splic"></div>
                </span>
            </div>
            <div style="--themebordercolor:#83cbac;--themebgcolor:#83cbac0a;--pluginbgcolor:#83cbac5c;">
                <div>
                    <span>
                        <i class="fa fa-scissors"></i>
                        一些工具
                    </span>
                    <div class="logo">
                        <img src="/res/logo/22.png">
                    </div>
                </div>
                <span>
                    BUFF查询皮肤
                    <div class="splic"></div>
                </span>
                <span>
                    b封面
                    <div class="splic"></div>
                </span>
                <span>
                    各种图片简易操作
                    <div class="splic"></div>
                </span>
                <span>
                    天气查询
                    <div class="splic"></div>
                </span>
                <span>
                    小人举牌
                    <div class="splic"></div>
                </span>
                <span>
                    搜番
                    <div class="splic"></div>
                </span>
                <span>
                    来个猫猫
                    <div class="splic"></div>
                </span>
                <span>
                    点歌
                    <div class="splic"></div>
                </span>
                <span>
                    疫情查询
                    <div class="splic"></div>
                </span>
                <span>
                    翻译
                    <div class="splic"></div>
                </span>
                <span>
                    识图
                    <div class="splic"></div>
                </span>
                <span>
                    识番
                    <div class="splic"></div>
                </span>
            </div>
            <div style="--themebordercolor:#142334;--themebgcolor:#1423340a;--pluginbgcolor:#1423345c;">
                <div>
                    <span>
                        <i class="fa fa-shopping-cart"></i>
                        商店
                    </span>
                    <div class="logo">
                        <img src="/res/logo/1.png">
                    </div>
                </div>
                <span>
                    商店
                    <div class="splic"></div>
                </span>
                <span>
                    商店 —— 使用道具
                    <div class="splic"></div>
                </span>
                <span>
                    商店—— 我的道具
                    <div class="splic"></div>
                </span>
                <span>商店 —— 我的金币
                    <div class="splic"></div>
                </span>
                <span>商店 —— 购买道具
                    <div class="splic"></div>
                </span>
            </div>
            <div style="--themebordercolor:#2474b5;--themebgcolor:#2474b50a;--pluginbgcolor:#2474b55c;">
                <div>
                    <span>
                        <i class="fa fa-tags"></i>
                        其它
                    </span>
                    <div class="logo">
                        <img src="/res/logo/8.png">
                    </div>
                </div>
                <span>
                    关于
                    <div class="splic"></div>
                </span>
                <span>
                    复读
                    <div class="splic"></div>
                </span>
                <span>
                    戳一戳
                    <div class="splic"></div>
                </span>
                <span>
                    敏感词检测
                    <div class="splic"></div>
                </span>
            </div>
            <div style="--themebordercolor:#93b5cf;--themebgcolor:#93b5cf0a;--pluginbgcolor:#93b5cf5c;">
                <div>
                    <span>
                        <i class="fa fa-gamepad"></i>
                        群内小游戏
                    </span>
                    <div class="logo">
                        <img src="/res/logo/9.png">
                    </div>
                </div>
                <span>
                    21点
                    <div class="splic"></div>
                </span>
                <span>
                    cp小故事
                    <div class="splic"></div>
                </span>
                <span>
                    logo制作
                    <div class="splic"></div>
                </span>
                <span>
                    乞讨福利金
                    <div class="splic"></div>
                </span>
                <span>
                    人生重开 —— lifeRestart
                    <div class="splic"></div>
                </span>
                <span>
                    俄罗斯轮盘
                    <div class="splic"></div>
                </span>
                <span>
                    刮刮乐
                    <div class="splic"></div>
                </span>
                <span>
                    头像表情包
                    <div class="splic"></div>
                </span>
                <span>
                    打劫
                    <div class="splic"></div>
                </span>
                <span>
                    猜单词
                    <div class="splic"></div>
                </span>
                <span>
                    猜成语
                    <div class="splic"></div>
                </span>
                <span>
                    表情包制作
                    <div class="splic"></div>
                </span>
                <span>
                    银行
                    <div class="splic"></div>
                </span>
            </div>
        </div>
    </div>


    <script type="module" src="zhenxun_menu.js"></script>
</body>

</html>