<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zhenxun_menu</title>
    <link rel="stylesheet" href="zhenxun_menu.css">
</head>
<body>
    <div class="wrapper">
        <main class="des">
            <p>可以通过 ‘帮助[功能名称]’ 来获取对应功能的使用方法。&nbsp;&nbsp;&nbsp;或者使用 ‘详细帮助’ 来获取所有功能方法。</p>
            <p style="color:red;">注：浅色字功能被群管理员禁用，横线字代表功能正在维护&nbsp;&nbsp;&nbsp;&nbsp;真寻机器人免费开源，如果你在任何渠道付费购买了真寻机器人，请退款。</p>
        </main>
        <div class="content">
            <div class="func">
                <div><span >功能 </span><div class="logo"><img src="/res/logo/1.png" alt=""></div></div>
                <span class="ban">Ai</span>
                <span>B站订阅<div class="splic"></div></span>
                <span>apex查询</span>
                <span>coser</span>
                <span>epic免费游戏</span>
                <span>pid搜索</span>
                <span>roll</span>
                <span>一言二次元语录</span>
                <span>个人信息权限查看</span>
                <span>古诗</span>
                <span>吃饭小助手</span>
                <span>微博热搜</span>
                <span>我有一个朋友</span>
                <span>昵称系统</span>
                <span>更新信息</span>
                <span>构造分享信息</span>
                <span>查看pix图库</span>
                <span>查看群欢迎信息</span>
                <span>磁力搜索</span>
                <span>签到</span>
                <span>网易云热评</span>
                <span>能不能好好说话</span>
                <span>金币红包</span>
                <span>骂我</span>
                <span>鲁迅说</span>
                <span>鸡汤</span>
                <span>黑白草图</span>
            </div>
            <div class="genshin">
                <span>原神相关</span>
                <span class="ban">原神今日素材</span>
                <span class="ban">原神便笺查询</span>
                <span class="ban">原神树脂提醒</span>
                <span >原神玩家查询</span>
                <span class="ban">原神绑定</span>
                <span >原神老黄历</span>
                <span class="ban">原神自动签到</span>
                <span class="ban">原神资源查询</span>
            </div>
           
            <div class="contact">
                <span>联系管理员</span>
                <span>联系管理员</span>
            </div>
            <div class="func_cus">
                <span>功能</span>
                <span>每日发癫</span>
            </div>
    
            <div class="regular">
                <span>常规插件</span>
                <span class="ban"><del>消息防撤回</del></span>
            </div>
    
            <div class="draw">
                <span>抽卡相关</span>
                <span>开箱</span>
            </div>
    
            <div class="sese">
                <span>来点好康的</span>
                <span>PIX</span>
                <span>P站排行/搜图</span>
                <span>本地图库</span>
                <span>色图</span>
            </div>
    
            <div class="datasta">
                <span>数据统计</span>
                <span>功能调用统计可视化</span>
                <span>消息统计</span>
            </div>
    
            <div class="tools">
                <span>一些工具</span>
                <span class="ban">BUFF查询皮肤</span>
                <span>b封面</span>
                <span>各种图片简易操作</span>
                <span>天气查询</span>
                <span>小人举牌</span>
                <span>搜番</span>
                <span>来个猫猫</span>
                <span>点歌</span>
                <span>疫情查询</span>
                <span>翻译</span>
                <span>识图</span>
                <span>识番</span>
            </div>
            <div class="shop">
                <span>商店</span>
                <span>商店</span>
                <span>商店 —— 使用道具</span>
                <span>商店 —— 我的道具</span>
                <span>商店 —— 我的金币</span>
                <span>商店 —— 购买道具</span>
            </div>
    
            <div class="other">
                <span>其它</span>
                <span>关于</span>
                <span>复读</span>
                <span>戳一戳</span>
                <span>敏感词检测</span>
            </div>
    
            <div class="game">
                <span>群内小游戏</span>
                <span>21点</span>
                <span>cp小故事</span>
                <span>logo制作</span>
                <span>乞讨福利金</span>
                <span>人生重开 —— lifeRestart</span>
                <span>俄罗斯罗盘</span>
                <span>刮刮乐</span>
                <span>头像表情包</span>
                <span>打劫</span>
                <span>猜单词</span>
                <span>猜成语</span>
                <span>表情包制作</span>
                <span>银行</span>
            </div>
        </div>
        
        
    </div>
</body>
</html>