<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/echarts.min.js"></script>
    <title>test</title>
    <!-- <link rel="stylesheet" href="./res/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="wrapper">
        <div class="main">
            <div class="main-content">
                <div class="top-date">{{data.date}}......
                    <img src="./res/img/{{data.weather}}.png" alt="sun" class="weather-img" />
                    <span style="margin-left: 180px;">24℃</span>
                </div>
                <div class="user-info">
                    <div class="user-info-ava">
                        <img src="{{data.ava_url}}" alt="test" class="ava-img" />
                        <div class="nickname">{{data.title}}</div>
                    </div>
                    <div class="user-info-data">
                        <div class="uname">
                            <span style="font-size: 35px;">姓名:</span>
                            <span>{{data.nickname}}</span>
                        </div>
                        <div style="margin-top: 15px;">
                            <span style="font-size: 35px;">种族:</span>
                            <span>{{data.race}}</span>
                        </div>
                        <div style="margin-top: 15px;">
                            <span style="font-size: 35px;">性别:</span>
                            <span>{{data.sex}}</span>
                        </div>
                        <div style="margin-top: 15px;">
                            <span style="font-size: 35px;">职业:</span>
                            <span>{{data.occ}}</span>
                        </div>
                        <div style="margin-top: 15px;">
                            <span style="font-size: 35px;">UID:</span>
                            <span>{{data.uid}}</span>
                        </div>
                    </div>
                </div>
                <div class="user-des">
                    <p>个人简介:</p>
                    <div style="line-height: 60px;">
                        {{data.description}}
                    </div>
                    <img src="./res/img/1.png" class="des-img" />
                </div>
            </div>
            <div style="width: 50px;"></div>
            <div class="main-content">
                <div class="menu">
                    <div class="menu-item" style="background-color: #E8BC89;">我的信息</div>
                    <div class="menu-item" style="background-color: #EDCCC3;">我的道具</div>
                    <div class="menu-item" style="background-color: #F0DAC6;">我的卡组</div>
                    <div class="menu-item" style="background-color: #F7E5E4;">我的设置</div>
                </div>
                <div class="tag-img">
                    <div class="tag-img-content">
                        <div class="tag-img-test"></div>
                    </div>
                </div>
                <img src="./res/img/2.png" class="main-img" />
                <div class="sign-data">
                    <p class="base-title">好感度等级: {{data.sign_level}}级</p>
                    <div>
                        <span class="sign-level {{data.select_index[0]}}">路人</span>
                        <span class="sign-level {{data.select_index[1]}}">陌生</span>
                        <span class="sign-level {{data.select_index[2]}}">初识</span>
                        <span class="sign-level {{data.select_index[3]}}">普通</span>
                        <span class="sign-level {{data.select_index[4]}}">熟悉</span>
                        <span class="sign-level {{data.select_index[5]}}">信赖</span>
                        <span class="sign-level {{data.select_index[6]}}">相知</span>
                        <span class="sign-level {{data.select_index[7]}}">厚谊</span>
                        <span class="sign-level {{data.select_index[8]}}">亲密</span>
                    </div>
                </div>
                <div class="line"></div>
                <div class="test-content" style="margin-top: 30px">
                    <img src="./res/img/level.png" class="test-icon" />
                    权限等级: {{data.level}}
                </div>
                <div>
                    <div class="text-item">
                        <div class="test-content" style="width: 50%;">
                            <img src="./res/img/gold.png" class="test-icon" />
                            金币数量: {{data.gold}}
                        </div>
                        <div class="test-content">
                            <img src="./res/img/prop.png" class="test-icon" />
                            道具数量: {{data.prop}}
                        </div>
                    </div>
                    <div class="text-item">
                        <div class="test-content" style="width: 50%;">
                            <img src="./res/img/call.png" class="test-icon" />
                            调用次数: {{data.call}}
                        </div>
                        <div class="test-content">
                            <img src="./res/img/say.png" class="test-icon" />
                            发言统计: {{data.say}}
                        </div>
                    </div>
                    <!-- <div class="line"></div> -->
                    <div class="text-chart">
                        <div class="test-title">
                            <img src="./res/img/xian.png" class="test-icon" />
                            发言趋势图
                        </div>
                        <div id="chart" class="chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('chart'));
        // 指定图表的配置项和数据
        var option = {
            backgroundColor: "#E0899E",
            animation: false,
            xAxis: {
                type: "category",
                data: {{data.chart_date|tojson}},
                axisLabel: {
                    color: "#fff",
                    fontSize: 20,
                },
            },
            yAxis: {
                type: "value",
                axisLabel: {
                    color: "#fff",
                    fontSize: 20,
                },
            },
            series: [{
                	data: {{data.count_list|tojson}},
                	type: "line",
                	smooth: true,
			        lineStyle: {
                        // 设置线条颜色
                        color: '#fff',
                        // 可选：设置线条宽度
                        width: 2
                    },
                    label: {
                        normal: {
                        show: true,
                        position: 'top',
                        textStyle: {
                            fontSize: 20,
                                color: '#fff'
                            }
                        }         
                     }
            }, ],
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
<script type="text/javascript" src="main.js">
</script>

</html>