

@font-face {
    font-family: fzrzFont;
    /* 导入的字体文件 */
    src: url("../../font/HYWenHei-85W.ttf");
}

@font-face {
    font-family: systFont;
    /* 导入的字体文件 */
    src: url("../../font/syst.otf");
}

@font-face {
    font-family: syhtFont;
    /* 导入的字体文件 */
    src: url("../../font/syht.otf");
}






body {
    position: absolute;
    left: -8px;
    top: -8px;
}

.wrapper{
    width: 1754px;
    height: 1240px;
    position: relative;
    background-size: cover;
    font-family: 'fzrzFont';
    padding: 20px;
    background-color: #E08A9F;
    border-radius: 50px;
    padding: 40px;
    color: #E08A9F;
    font-size: 30px;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
}

.main-content {
    background-color: white;
    height: 1123px;
    width: 682px;
    border-radius: 50px;
    padding: 56px 83px;
    position: relative;
}

.weather-img {
    position: absolute;
    height: 60px;
    left: 325px;
    top: -10px;
}

.top-date {
    display: flex;
    position: relative;
    font-family: "systFont";
}

.user-info {
    display: flex;
    margin-top: 65px;
}

.user-info-ava {
    position: relative;

}

.ava-img {
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    border: 2px solid #E0899E;
}

.user-info-data {
    margin-left: 30px;
}

.nickname {
    position: absolute;
    width: 140px;
    left: 50%;
    bottom: -27px;
    transform: translate(-50%, -50%);
    background-color: #E0899E;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
}

.user-des {
    margin-top: 60px; 
    font-size: 35px;
    position: relative;
    height: 710px;
}

.des-img {
    height: 430px;
    position: absolute;
    bottom: -28px;
    left: 85px;
}

.tag-img-content {
    height: 120px;
    width: 75px;
    background-color: #E8BB88;
    position: absolute;
    top: 0px;
    left: 120px;
}

.tag-img-test {
    border-left: 37px solid transparent;
    border-right: 38px solid transparent;
    border-bottom: 54px solid white;
    width: 0;
    height: 68px;
}

.menu {
    position: absolute;
    right: 0px;
    height: 496px;
    top: 175px;
}

.menu-item {
    writing-mode: vertical-rl; /* 从右向左垂直排列 */
    color: #754E43;
    height: 190px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    gap: 20px;
}

.main-img {
    position: absolute;
    height: 200px;
    right: 150px;
    top: 10px;
}

.sign-data {
    margin-top: 105px;
}

.base-title {
    font-size: 35px;
}

.sign-level {
    border: 2px solid #E08A9F;
    padding: 7px 3px;
    font-size: 28px;
}

.line {
    border: 1px solid #E08A9F;
    margin-top: 30px;
}

.text-item {
    display: flex;
}


.test-icon {
    height: 50px;
    margin-right: 10px;
}

.test-content {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.test-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.text-chart {
    margin-top: 20px;
    background-color: #E0899E;
    color: white;
    padding: 30px;
    border-radius: 30px;
    height: 560px;
}

.chart {
    height: 490px;
    width: 622px;
    background-color: white;
}

.select {
    background-color: #E0899E;
    color: white;
}

.uname {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 显示的最大行数 */
    -webkit-box-orient: vertical;
    overflow: hidden; /* 隐藏溢出内容 */
    text-overflow: ellipsis; /* 溢出部分显示为省略号 */
}